@model Portfolio.Model.Portfolio

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Portfolio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <h3>Holdings</h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Code</th>
                <th>Units</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var summ in Model.Summaries.Where(s => s.Units != 0).OrderBy(s => s.Code))
            {
                <tr>
                    <td>@summ.Code</td>
                    <td>@summ.Units</td>
                    <td>@summ.Cost</td>
                </tr>

            }
        </tbody>
    </table>

    <h3>Capital Gains</h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Year</th>
                <th>Capital Gains</th>
                <th>Discounted Gains</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var summ in Model.Summaries.SelectMany(s => s.Trades)
                .GroupBy(t => t.SellDate.AddMonths(6).Year)
                .OrderBy(t => t.Key)
                .Select(cgt => new { Year = cgt.Key, Gain = cgt.Where(o => !o.IsDiscounted).Sum(o => o.Profit), DiscountedGain = cgt.Where(o => o.IsDiscounted).Sum(o => o.Profit) }))
            {
                <tr>
                    <td>@summ.Year</td>
                    <td>@summ.Gain</td>
                    <td>@summ.DiscountedGain</td>
                </tr>
            }
        </tbody>
    </table>

    <h3>Trades</h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Code</th>
                <th>Units</th>
                <th>Buy Date</th>
                <th>Buy Amount</th>
                <th>Sell Date</th>
                <th>Sell Amount</th>
                <th>Profit</th>
                <th>Discounted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trade in Model.Summaries.SelectMany(s => s.Trades).OrderByDescending(t => t.SellDate))
            {
                <tr>
                    <td>@trade.Code</td>
                    <td>@trade.Units</td>
                    <td>@trade.BuyDate.ToString("dd/MM/yyyy")</td>
                    <td>@trade.BuyAmount</td>
                    <td>@trade.SellDate.ToString("dd/MM/yyyy")</td>
                    <td>@trade.SellAmount</td>
                    <td>@trade.Profit</td>
                    <td>@trade.IsDiscounted</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
